﻿@model IEnumerable<Consultorio>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutLogin";
}

@*<h3>Consultorios : </h3>

<table class="table">
    <tr>
        <td>ID</td>
        <td>Piso</td>
        <td>Descripción</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayTextFor(modelItem => item.Id)</td>
            <td>@Html.DisplayTextFor(modelItem => item.Piso)</td>
            <td>@Html.DisplayTextFor(modelItem => item.DConsultorio)</td>
        </tr>
    }
</table>*@

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image bg-success">
                        <img height="350">
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Bienvenido a la Clinica</h1>
                            </div>
                            <form class="user">
                                <a asp-area="" asp-controller="Persona" asp-action="Login"
                                   class="btn btn-primary btn-user btn-block text-white">Iniciar Sesion</a>
                                <a class="btn btn-warning btn-user btn-block text-white"
                                   asp-area="" asp-controller="Persona" asp-action="Index">Registrate</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


