﻿@model Consultorio
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<form data-ajax="true"
      asp-action="AgregarEditar"
      asp-antiforgery="true"
      method="post"
      class="">

    <div class="modal-body">
        <div class="">
            <div class="form-group hidden">
                <label asp-for="Piso" class="control-label"></label>
                <input asp-for="Piso" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DConsultorio" class="control-label"></label>
                <input asp-for="DConsultorio" class="form-control" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Agregar" />
    </div>
</form>


<p>Use this page to detail your site's privacy policy.</p>
