﻿@model Models.PieModal

<div class="modal-footer">
    @if (!Model.OnlyAceptButton)
    {
        <button data-dismiss="modal" id="@Model.CancelButtonID" class="@ColorBoton.Default" type="button">@Model.CancelButtonText</button>
        <button class="@ColorBoton.Principal" id="@Model.SubmitButtonID" type="submit">
            @Model.SubmitButtonText
        </button>
    }
    else
    {
        <button data-dismiss="modal" id="@Model.AceptButtonID" class="@ColorBoton.Default" type="button">@Model.AceptButtonText</button>
    }
</div>