﻿@model Models.CabeceraModal
<div class="modal-header @Model.TipoModal">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h5 class="modal-title"><strong>@Model.Heading</strong></h5>
</div>
