﻿@model vmMenuLateral

<ul class="sidebar-menu">
    @* AQUI FALTA AGREGAR LOS MODULOS *@
    <li class="header treeview">MENÚ</li>
    @foreach (var modulo in Model.ListaModulos)
    {
        <li class="active treeview">
            @* OPCIONES PADRE *@
            @foreach (var opcionPadre in modulo.ListaOpcionesPadres)
            {
                <a href="@opcionPadre.Url">
                    <i class="@opcionPadre.Icono"></i> <span>@opcionPadre.Nombre</span> <i class="fa fa-angle-left pull-right"></i>
                </a>

                <ul class="treeview-menu">
                    @* OPCIONES HIJAS *@
                    @foreach (var opcionHijo in opcionPadre.ListaOpcionesHijo)
                    {
                        <li><a asp-area="" asp-controller="@opcionHijo.Controlador" asp-action="@opcionHijo.Accion">@opcionHijo.Nombre</a></li>
                    }
                </ul>
            }
        </li>
    }
    @*<li class="header">MENÚ</li>
        <li class="active treeview">
            @* OPCIONES PADRE
            @foreach (var item in Model)
            {
                if (item.EsPadre)
                {
                    <a href="@item.Url">
                        <i class="fa fa-dashboard"></i> <span>@item.OpcMenu</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                }
                else
                {
                    <ul class="treeview-menu">
                        @* OPCIONES HIJAS
                        <li><a asp-area="" asp-controller="@item.Url" asp-action="@item.Url">@item.OpcMenu</a></li>
                        @*<li><a asp-area="" asp-controller="Sucursal" asp-action="Index">Sucursal</a></li>
                            <li><a asp-area="" asp-controller="Sistema" asp-action="Index">Sistema</a></li>
                            <li><a asp-area="" asp-controller="Modulo" asp-action="Index">Modulo</a></li>
                            <li><a asp-area="" asp-controller="Perfil" asp-action="Index">Perfil</a></li>
                            <li><a asp-area="" asp-controller="Opcion" asp-action="Index">Opción</a></li>
                            <li><a asp-area="" asp-controller="OpcionDetalle" asp-action="Index">Opción Detalle</a></li>
                    </ul>
                }
            }
        </li>*@
</ul>