﻿@model CepSal.ViewModels.vmBuscarPerfiles
@{
    ViewData["Title"] = "Perfiles";
}

<form data-ajax="true"
      asp-action="BuscarPerfilesXModuloXSistema"
      data-ajax-update="#tablaPerfil"
      data-ajax-success="success2"
      role="form"
      class="">
    <div class="row">
        <div class="form-group col-lg-2">
            <label class="control-label">Sistema: </label>
            <select asp-for="idsistema" asp-items="@(new SelectList(ViewBag.Sistemas, "ISstma", "Nmbre", Model.idsistema))" id="ddlSistema" class="form-control">
                <option value="">- Seleccione -</option>
            </select>
        </div>
        <div class="form-group col-lg-2">
            <label class="control-label">Módulo: </label>
            <select asp-for="idmodulo" asp-items="@(new SelectList(String.Empty, "IMdlo", "Nmbre", Model.idmodulo))" id="ddlModulo" class="form-control">
                <option value="">- Seleccione -</option>
            </select>
        </div>
    </div>
    <button class="@ColorBoton.Principal" id="btnbuscar" type="submit">
        Buscar
    </button>
</form>
<div class="row">
    <div id="tablaPerfil" class=""></div>
    <div id="detalles" class="col-lg-5" style="display:none">
       @* @await Html.PartialAsync("_Opciones")*@
    </div>
</div>

@await Html.PartialAsync("_Modal", new ModalModel { ID = "modal-action", AreaLabeledId = "modal-action-label", Size = Codigos.TamanoModal.Mediana })

@section scripts
    {
    <script src="~/js/Perfil.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var myTree = [
            {
                text: "Item 1",
                nodes: [
                    {
                        text: "Item 1-1",
                        nodes: [
                            {
                                text: "Item 1-1-1"
                            },
                            {
                                text: "Item 1-1-2"
                            }
                        ]
                    },
                    {
                        text: "Item 1-2"
                    }
                ]
            },
            {
                text: "Item 2"
            },
            {
                text: "Item 3"
            }
        ];
        $('#tree').treeview({
            data: myTree,
            showCheckbox: true
        });
    </script>
}
