﻿@model VmPersona
<div class="modal-header">
    <h6 class="modal-title" id="exampleModalLabel">
        Actualizar tu Perfil Clínico
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <form id="user" data-ajax="true" asp-action="ActualizarPersona" asp-antiforgery="true"
                  method="post">
                <div class="row">
                    <input type="hidden" asp-for="ID" />
                    <div class="col-12">
                        <div class="form-group mb-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa fa-venus-mars"></i>
                                    </span>
                                </div>
                                <input type="text" asp-for="SEXO"
                                       class="form-control form-control-sm" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fas fa-birthday-cake"></i>
                                    </span>
                                </div>
                                <input type="text" asp-for="EDAD"
                                       class="form-control form-control-sm" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fas fa-balance-scale"></i>
                                    </span>
                                </div>
                                <input type="text" asp-for="PSO" maxlength="3"
                                       class="form-control form-control-sm">
                                <div class="input-group-append">
                                    <span class="input-group-text">(Kg.)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fas fa-male" style="width:7px !important"></i>
                                        <i class="fas fa-arrows-alt-v" style="width:7px !important"></i>
                                    </span>
                                </div>
                                <input type="text" asp-for="ALTRA" maxlength="4"
                                       class="form-control form-control-sm">
                                <div class="input-group-append">
                                    <span class="input-group-text">(Mt.)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fas fa-tint"></i>
                                    </span>
                                </div>
                                <select asp-for="TSNGRE" class="form-control form-control-sm"
                                        placeholder="">
                                    <option value="A+" selected="selected">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="submit" class="btn btn-primary btn-block" value="Actualizar datos" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    @*<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>*@
</div>